<a href="https://colab.research.google.com/github/sabatn/ML/blob/main/ML1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/RafsanJany-44/Machine-School/main/datasets/weather.csv")

In [19]:
target = "RainTomorrow"

In [4]:
df.head(10)

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,NW,6.0,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
1,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,W,4.0,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes
2,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,NNE,6.0,...,69,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes
3,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,W,30.0,...,56,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes
4,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,ESE,20.0,...,49,1018.3,1018.5,7,7,11.1,15.4,Yes,0.0,No
5,6.2,16.9,0.0,5.8,8.2,SE,44.0,SE,E,20.0,...,57,1023.8,1021.7,7,5,10.9,14.8,No,0.2,No
6,6.1,18.2,0.2,4.2,8.4,SE,43.0,SE,ESE,19.0,...,47,1024.6,1022.2,4,6,12.4,17.3,No,0.0,No
7,8.3,17.0,0.0,5.6,4.6,E,41.0,SE,E,11.0,...,57,1026.2,1024.2,6,7,12.1,15.5,No,0.0,No
8,8.8,19.5,0.0,4.0,4.1,S,48.0,E,ENE,19.0,...,48,1026.1,1022.7,7,7,14.1,18.9,No,16.2,Yes
9,8.4,22.8,16.2,5.4,7.7,E,31.0,S,ESE,7.0,...,32,1024.1,1020.7,7,1,13.3,21.7,Yes,0.0,No

In [5]:
df.shape

(366, 22)

In [6]:
df.columns

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RISK_MM', 'RainTomorrow'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MinTemp        366 non-null    float64
 1   MaxTemp        366 non-null    float64
 2   Rainfall       366 non-null    float64
 3   Evaporation    366 non-null    float64
 4   Sunshine       363 non-null    float64
 5   WindGustDir    363 non-null    object
 6   WindGustSpeed  364 non-null    float64
 7   WindDir9am     335 non-null    object
 8   WindDir3pm     365 non-null    object
 9   WindSpeed9am   359 non-null    float64
 10  WindSpeed3pm   366 non-null    int64
 11  Humidity9am    366 non-null    int64
 12  Humidity3pm    366 non-null    int64
 13  Pressure9am    366 non-null    float64
 14  Pressure3pm    366 non-null    float64
 15  Cloud9am       366 non-null    int64
 16  Cloud3pm       366 non-null    int64
 17  Temp9am        366 non-null    float64
 18  Temp3pm        366 non-null    float64
 19  RainToday      366 non-null    object
 20  RISK_MM        366 non-null    float64
 21  RainTomorrow   366 non-null    object
dtypes: float64(12), int64(5), object(5)
memory usage: 63.0+ KB

In [8]:
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
count,366.000000,366.000000,366.000000,366.000000,363.000000,364.000000,359.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000
mean,7.265574,20.550273,1.428415,4.521858,7.909366,39.840659,9.651811,17.986339,72.035519,44.519126,1019.709016,1016.810383,3.890710,4.024590,12.358470,19.230874,1.428415
std,6.025800,6.690516,4.225800,2.669383,3.481517,13.059807,7.951929,8.856997,13.137058,16.850947,6.686212,6.469422,2.956131,2.666268,5.630832,6.640346,4.225800
min,-5.300000,7.600000,0.000000,0.200000,0.000000,13.000000,0.000000,0.000000,36.000000,13.000000,996.500000,996.800000,0.000000,0.000000,0.100000,5.100000,0.000000
25%,2.300000,15.025000,0.000000,2.200000,5.950000,31.000000,6.000000,11.000000,64.000000,32.250000,1015.350000,1012.800000,1.000000,1.000000,7.625000,14.150000,0.000000
50%,7.450000,19.650000,0.000000,4.200000,8.600000,39.000000,7.000000,17.000000,72.000000,43.000000,1020.150000,1017.400000,3.500000,4.000000,12.550000,18.550000,0.000000
75%,12.500000,25.500000,0.200000,6.400000,10.500000,46.000000,13.000000,24.000000,81.000000,55.000000,1024.475000,1021.475000,7.000000,7.000000,17.000000,24.000000,0.200000
max,20.900000,35.800000,39.800000,13.800000,13.600000,98.000000,41.000000,52.000000,99.000000,96.000000,1035.700000,1033.200000,8.000000,8.000000,24.700000,34.500000,39.800000

In [28]:
df['WindGustDir'].value_counts()

7     72
6     42
0     36
14    35
1     30
2     23
8     22
3     21
13    17
4     15
9     12
10    12
5      7
11     4
12     3
15     2
16     1
Name: WindGustDir, dtype: int64

In [27]:
df[target].value_counts()

No     290
Yes     64
Name: RainTomorrow, dtype: int64

In [40]:
df.dropna(axis = 0, how = 'any', inplace = True )
df = df.reset_index(drop = True)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354 entries, 0 to 353
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MinTemp        354 non-null    float64
 1   MaxTemp        354 non-null    float64
 2   Rainfall       354 non-null    float64
 3   Evaporation    354 non-null    float64
 4   Sunshine       354 non-null    float64
 5   WindGustDir    354 non-null    int64
 6   WindGustSpeed  354 non-null    float64
 7   WindDir9am     354 non-null    int64
 8   WindDir3pm     354 non-null    int64
 9   WindSpeed9am   354 non-null    float64
 10  WindSpeed3pm   354 non-null    int64
 11  Humidity9am    354 non-null    int64
 12  Humidity3pm    354 non-null    int64
 13  Pressure9am    354 non-null    float64
 14  Pressure3pm    354 non-null    float64
 15  Cloud9am       354 non-null    int64
 16  Cloud3pm       354 non-null    int64
 17  Temp9am        354 non-null    float64
 18  Temp3pm        354 non-null    float64
 19  RainToday      354 non-null    int64
 20  RISK_MM        354 non-null    float64
 21  RainTomorrow   354 non-null    object
dtypes: float64(12), int64(9), object(1)
memory usage: 61.0+ KB

In [ ]:
#Label Encoding
WindGustDir
WindDir9am
WindDir3pm
RainToday
RainTomorrow

In [51]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [52]:
df['WindGustDir'] = encoder.fit_transform(df['WindGustDir'])

In [53]:
df['WindGustDir'].value_counts()

7     72
6     42
0     36
14    35
1     30
2     23
8     22
3     21
13    17
4     15
9     12
10    12
5      7
11     4
12     3
15     2
16     1
Name: WindGustDir, dtype: int64

In [54]:
df["WindDir9am"] = encoder.fit_transform(df["WindDir9am"])
df["WindDir3pm"] = encoder.fit_transform(df["WindDir3pm"])
df["RainToday"] = encoder.fit_transform(df["RainToday"])

In [55]:
df[target].value_counts()

0    290
1     64
Name: RainTomorrow, dtype: int64

In [56]:
df[target] = encoder.fit_transform(df[target])

In [57]:
df[target].value_counts()

0    290
1     64
Name: RainTomorrow, dtype: int64

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354 entries, 0 to 353
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MinTemp        354 non-null    float64
 1   MaxTemp        354 non-null    float64
 2   Rainfall       354 non-null    float64
 3   Evaporation    354 non-null    float64
 4   Sunshine       354 non-null    float64
 5   WindGustDir    354 non-null    int64
 6   WindGustSpeed  354 non-null    float64
 7   WindDir9am     354 non-null    int64
 8   WindDir3pm     354 non-null    int64
 9   WindSpeed9am   354 non-null    float64
 10  WindSpeed3pm   354 non-null    int64
 11  Humidity9am    354 non-null    int64
 12  Humidity3pm    354 non-null    int64
 13  Pressure9am    354 non-null    float64
 14  Pressure3pm    354 non-null    float64
 15  Cloud9am       354 non-null    int64
 16  Cloud3pm       354 non-null    int64
 17  Temp9am        354 non-null    float64
 18  Temp3pm        354 non-null    float64
 19  RainToday      354 non-null    int64
 20  RISK_MM        354 non-null    float64
 21  RainTomorrow   354 non-null    int64
dtypes: float64(12), int64(10)
memory usage: 61.0 KB

## Slicing
df.loc[starting_row:ending_row+1, [columns]]
df.loc[starting_row:ending_row+1, starting_col:ending_col]

In [59]:
k = df.loc[5:10,["Rainfall", "Evaporation"]]

In [60]:
k.head(-1)        #-1 idx diye last value porjonto show korbe

   Rainfall  Evaporation
5       0.0          5.8
6       0.2          4.2
7       0.0          5.6
8       0.0          4.0
9      16.2          5.4

In [61]:
k = df.iloc[5:10,:5]

In [62]:
k.head(-1)

   MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine
5      6.2     16.9       0.0          5.8       8.2
6      6.1     18.2       0.2          4.2       8.4
7      8.3     17.0       0.0          5.6       4.6
8      8.8     19.5       0.0          4.0       4.1

#Spliting

In [63]:
X = df.loc[:, df.columns != target]

In [64]:
X.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM
0,8.0,24.3,0.0,3.4,6.3,7,30.0,12,7,6.0,...,68,29,1019.7,1015.0,7,7,14.4,23.6,0,3.6
1,14.0,26.9,3.6,4.4,9.7,1,39.0,0,13,4.0,...,80,36,1012.4,1008.4,5,3,17.5,25.7,1,3.6
2,13.7,23.4,3.6,5.8,3.3,7,85.0,3,5,6.0,...,82,69,1009.5,1007.2,8,7,15.4,20.2,1,39.8
3,13.3,15.5,39.8,7.2,9.1,7,54.0,14,13,30.0,...,62,56,1005.5,1007.0,2,7,13.5,14.1,1,2.8
4,7.6,16.1,2.8,5.6,10.6,10,50.0,10,2,20.0,...,68,49,1018.3,1018.5,7,7,11.1,15.4,1,0.0

In [66]:
#Y= df.loc[:,[target]]
Y = df[target]

In [67]:
Y.head()

0    1
1    1
2    1
3    1
4    0
Name: RainTomorrow, dtype: int64

#Spliting in testing and trials

In [68]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2)

#Training Phase

RandomForest

In [71]:
%%time
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_jobs = -1)

clf.fit(X_train,Y_train)

CPU times: user 234 ms, sys: 43.2 ms, total: 277 ms
Wall time: 239 ms

RandomForestClassifier(n_jobs=-1)

In [78]:
y_pred =clf.predict(X_test)

In [79]:
from sklearn.metrics import accuracy_score

score = accuracy_score(Y_test, y_pred)

In [81]:
print(score)

0.9859154929577465

In [82]:
X.loc[101:101,:]

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM
101,9.1,23.1,0.0,5.8,9.6,1,41.0,10,13,17.0,...,66,37,1013.6,1011.4,1,7,14.0,21.4,0,0.0

In [84]:
rain_tom = clf.predict(X.loc[101:101,:])
print(rain_tom)

[0]

In [85]:
Y[101]

0

#Model Save

In [86]:
import joblib

joblib.dump(clf, "randomforest_rain_tom")

['randomforest_rain_tom']